<div class="container">
    <h1>Componente Padre</h1>
    <div class="row">
        <!-- <div class="col-2"><label class="label">Valor Padre</label></div>
        <div class="col-2"><input type="text" class="form-control" [(ngModel)]="valor" /></div>
        <div class="col-sm-auto">
            <button class="btn btn-primary" (click)="btnMostrarClick()">Enviar Datos</button>
        </div>
        <div class="col-sm-auto">
            <button class="btn btn-secondary" (click)="btnOcultarClick()" [disabled]="!mostrarHijo">Ocultar
                Hijo</button>
        </div> -->
        <div class="col-2">
            <mat-form-field class="example-form-field">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" [(ngModel)]="valor">
                <button *ngIf="valor" matSuffix mat-icon-button aria-label="Clear" (click)="valor=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col-2"><button class="btn btn-primary" (click)="btnMostrarClick()">Enviar Datos</button></div>
        <div class="col-2"><button class="btn btn-primary" (click)="btnActualizarClick()">Actualizar</button></div>
    </div>

    <div class="row">
        <div class="col-2">
            <mat-form-field class="example-form-field">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" [(ngModel)]="contrasenia">
                <button *ngIf="contrasenia" matSuffix mat-icon-button aria-label="Clear" (click)="contrasenia=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <mat-form-field class="example-form-field">
                <input matInput type="text" [(ngModel)]="valorGet">
                <button *ngIf="contrasenia" matSuffix mat-icon-button aria-label="Clear" (click)="contrasenia=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button (click)="peticionGet()">Peticion Get</button>
        </div>
    </div>

    <app-hijo [parametro]="valor" (eventoMensaje)="eventoRecepcionDato($event)" *ngIf="mostrarHijo"></app-hijo>
    <app-comunicacion></app-comunicacion>
</div>